<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image Search</title>
  </head>
  <body>
    <div class="container">
      <h1>Demo image search engine</h1>
      <form method="POST" enctype="multipart/form-data">
        <input type="file" name="query_img" required/><br />
        <input type="submit" />
      </form>
      <h2>Query:</h2>
      <h2>Results:</h2>
      {% for score in scores %}
      <figure style="float: left; margin-right: 20px; margin-bottom: 20px">
        <figcaption>Similarity= {{ score[0] }}</figcaption>
        <figcaption>pic_id= {{ score[2] }}</figcaption>
        <hr>
      </figure>
      {% endfor %}
    </div>
  </body>
</html>
